.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 20px 10px 0;
}

.pages {
  display: flex;
  gap: 4px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  display: inline-block;
  min-width: 36px;
  padding: 6px 10px;
  border-radius: 4px;
  text-align: center;
  font-weight: 600;
  color: var(--color-text-secondary);
  text-decoration: none;
}

.link:hover {
  background-color: var(--pink-lightest);
  color: var(--pink-dark);
}

.link[aria-current="page"] {
  background-color: var(--pink-base);
  color: white;
}

.disabled {
  color: var(--grey-lighter);
}
